* {
    margin: 0;
    padding: 0;
  }

  body {
    color: #333;
    display: grid;
    grid-template: 4rem auto 6rem / auto;
    font-family: Arial, sans-serif;
    height: 100vh;
    /* border: solid 10px #4674e9;  */
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f8f8;
  }

  main{
    background-color: rgb(237, 244, 253);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }

  footer p{
    width: 40%;
  }

  .logo img{
    width: 80%;
  }
  
  .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .intro {
    text-align: center;
    padding: 0 3rem;
  }
  
  .intro h1 {
    font-family: 'Cambay';
    font-size: 2.5rem;
    color: #4674e9;
  }
  
  .intro p {
    font-size: 1rem;
    color: #666;
    margin: 1rem auto 0;
    width: 60%;
    line-height: 1.5rem;
  }
  
  /* Services Section */
  .services {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    padding: 2rem;
    background: linear-gradient(
      180deg,
      rgb(237, 244, 253),
      rgb(237, 244, 253) 9rem,
      rgb(250, 151, 70) 9rem,
      rgb(250, 151, 70) 20rem,
      rgb(237, 244, 253) 20rem,
      rgb(237, 244, 253) 100%
      );
  }
  
  .service {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .service:hover {
    transform: translateY(-5px);
  }
  
  .service img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .service h2 {
    font-size: 1.5rem;
    color: #4674e9;
    margin: 2rem 0 0.5rem;
  }
  
  .service p {
    font-size: 1rem;
    color: #666;
    margin: 1.5rem 0;
  }
  
  .service a {
    background-color: rgb(250, 151, 70);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem 0;
    padding: 0.6rem 2rem;
    width: 40%;
    align-self: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .service a:hover {
    background-color: rgb(255, 198, 152);
  }

  @media (max-width: 800px) { 
    
    .service {
      flex-direction: column;
      align-items: center;
      width: 70%;
      padding: 1.7rem;
    }
  
    .intro h1 {
      font-size: 2rem;
    }

    footer p{
      width: 70%;
    }
  }
  
  @media (max-width: 480px) {
  
    .menu-icon {
      font-size: 1.2rem;
    }
  
    .intro h1 {
      font-size: 1.8rem;
    }
  
    .intro p {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0 2rem;
    }
  
    .service h2 {
      font-size: 1.8rem;
    }

    .service p{
      font-size: 0.9rem;
    }
  
    .service button {
      font-size: 1rem;
    }
  }  